_site
.sass-cache
.jekyll-metadata
.DS_store
.ruby-version
Gemfile.lock
.tweet-cache/
assets/pdf/resume.aux
assets/pdf/resume.fdb_latexmk
assets/pdf/resume.fls
assets/pdf/resume.log
assets/pdf/resume.out
assets/pdf/resume.synctex.gz
_posts/2021-01-01-beginner-tips-open-water-swimming.md
_posts/2021-10-12-markov-chains.md
